{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <section class="mt-2">
    <h2>{% trans "Featured articles" %}</h2>

    <div class="row">
      {% for article in featured_articles %}
        <div class="col-12 col-md-4">
          <div class="card">
            <img src="{{ article.main_image_medium.url }}" class="card-img-top" alt="{{ article.title }}" />
            <div class="card-body">
              <h5 class="card-title">
                <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
              </h5>
              <p class="card-text">{{ article.short_content | truncatechars:140 }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

  <section class="mt-5">
    <div class="row">
      <div class="col-12 col-md-9">
        <h3 class="pb-2">{% trans "Latest articles" %}</h3>

        {% for article in latest_articles %}
          <div class="row">
            <div class="col-1">
              <span class="display-4">{{ forloop.counter }}.</span>
            </div>
            <div class="col-11">
              <h4>
                <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
              </h4>
              <p>{{ article.short_content }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="col-12 col-md-3">
        <a href="#">
          <img class="img-fluid rounded" src="https://images.unsplash.com/photo-1661956602116-aa6865609028?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=640&q=80" alt="Banner #1" />
        </a>
      </div>
    </div>
  </section>
{% endblock content %}
